.div-historial{
    background-color: rgb(37, 37, 37);
    height: 100vh;
    width: "inherit";
    background-image: url("../../src/Fotos/Fondo_historial.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}