.div-modificaractividad{
    margin-top: -1.70cm;
    background-color: transparent;
    height: 100%;
    width: 100%;
    background-image: url("../../Fotos/fondo_modificaractividad.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}